

# dependencies
/back-end/node_modules
/front-end/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#environmental variables
/back-end/.env
/back-end/serviceAccount.json
# misc

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
